node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
*.env
.vercel/

generated/videos/
generated/thumbnails/
generated/metadata/
generated/tmp/
generated/logs/
data/history.json

*.zip
.DS_Store
Thumbs.db
